In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)
pd.set_option('display.width', 1000)
import seaborn as sns

# FY19

In [2]:
fy19 = pd.read_excel('../../../FY20 Data/Delaware/18F 19S Delaware Study.xlsx')
fy19.head()

               ID_CRSID   Term               Key    Key_Rev_2_7_20 Difference  Enrol_Rev_2_7_20  Enrol_Rev  Gross_Rev   Net_Rev   INST_ID                                            Comment Tenure SCAP Cnt AAUP Salary  Teach Salary Adm Lib Salary Equiv Salary 2_Dept_Salary  Total Salary EEO Rank Empl Status OCCPT Job Title             FAC_NAME                       FDB_Dept FDB_2nd_Dept FDB_College RC_COLG RC_DEPT CRS_SUBJ       CRS_ID Crs_ID_Cnt                        CRS_TITLE LoyolaCore_1 LoyolaCore Online Honors  CourseCount  INST_LD Meet Days Meet Start, Time Meet Stop, Time  Enroll, Max  Potential SCCH  Tally,Demand  Tally,Drop COURS_LEV  CRS_LEV_NUM CROSS_LST CRS_TYPE  MIN_HRS  MAX_HRS VAR_CR_FLG  COURSE_CRHRS GRD_RULE SEC_STAT CRS_STATUS SEC_TYP      SESSION  Enrolled  Diff_RedBar_Vs_Rev  AVG_CRS_CRHR_RT  Total SCCH  SCCH As % of Load  INST_CREDIT           FAC_NAME.1                 PRI_UNIT_DESC                 PRI_DEPT_DESC
0  10138351 LIM G890W01  2018F  2018FLIM G890W01  LIM G890W012018F         -2               8.0         10   13659.00    268.08  10138351                                                NaN    NaN     0.67         NaN        7000.0            NaN          NaN           NaN        7000.0     INST           P   FAC       NaN     Wilhelm, Deborah  Loyola Institute for Ministry          NaN         CNH     CNH     LIM      LIM  LIM G890W01   LIM G890  JESUS & THE CHRISTIAN TRADITION      G890W01         No    Yes     No          0.5      1.0       TBA                                            25            75.0            19           9         G          890                LEC      3.0      3.0          N           3.0        G        O       OPEN          LIM Session        10                   0              3.0        30.0               30.0          1.0     Wilhelm, Deborah   College of Nursing & Health  Institute for Ministry (LIM)
1  10222864 ACCTB305001  2019S  2019SACCTB305001  ACCTB3050012019S         -1              18.0         19   66419.85  20169.39  10222864                                                NaN    11A        1      125991      125991.0            NaN          NaN           NaN      125991.0     LECT           F   FLC       NaN         Main, Daphne                     Accounting          NaN          BU      BU    ACCT     ACCT  ACCTB305001   ACCTB305        INTERMEDIATE ACCOUNTING I      B305001         No     No     No          1.0      1.0       MWF           1130AM          1220PM           30            90.0            20           1         U          305                LEC      3.0      3.0          N           3.0        U        O       OPEN                             19                   0              3.0        57.0               57.0          3.0         Main, Daphne           College of Business              BA Instructional
2  10190951 PHILU294052  2018F  2018FPHILU294052  PHILU2940522018F         -1              27.0         28   99118.59  39463.23  10190951                                                NaN      E        1       42856       42856.0            NaN          NaN           NaN       42856.0    LECTV           F   FAC       NaN    Chastain, James A                     Philosophy          NaN         CAS     CAS    PHIL     PHIL  PHILU294052   PHILU294              THE MEANING OF LIFE      U294052        Yes     No     No          1.0      1.0        MW           0620PM          0735PM           30            90.0            49          21         U          294                LEC      3.0      3.0          N           3.0        U        O       OPEN       U                     28                   0              3.0        84.0               84.0          3.0    Chastain, James A  College of Arts and Sciences                    Philosophy
3  10214200 ACCTB307001  2019S  2019SACCTB307001  ACCTB3070012019S         -1              23.0         24   78445.41  32193.45  10214200  Reduced teaching load, 2 courses per semester ...      E        1      102844       51422.0            NaN          NaN           NaN       51422.0    LECTV           F   SPC       NaN  Meyer, Jean Annette                     Accounting          NaN          BU      BU    ACCT     ACCT  ACCTB307001   ACCTB307     GOVERNMENT & NON PROFIT ACCT      B307001         No     No     No          1.0      1.0        TR           0800AM          0915AM           30            90.0            29           5         U          307                LEC      3.0      3.0          N           3.0        U        O       OPEN                             24                   0              3.0        72.0               72.0          3.0  Meyer, Jean Annette           College of Business              BA Instructional
4  10229856 MGT B325W02  2019S  2019SMGT B325W02  MGT B325W022019S         -1              22.0         23   79185.54  32683.92  10229856                                                NaN      E        1       60600       60600.0            NaN          NaN           NaN       60600.0     LECT           F   FAC       NaN      Anderson, Jan L                     Management          NaN          BU      BU     MGT      MGT  MGT B325W02   MGT B325           PRODUCTION & OPER MGMT      B325W02         No    Yes     No          0.5      1.0       TBA                                            25            75.0            24           1         U          325                LEC      3.0      3.0          N           3.0        U        O       OPEN                             23                   0              3.0        69.0               69.0          3.0      Anderson, Jan L           College of Business              BA Instructional

In [3]:
fy19.groupby(['Term', 'INST_ID', 'CRS_ID']).ngroups - fy19['Term'].count()

-5

In [4]:
z_i = fy19.pivot_table(index=['Term', 'INST_ID', 'CRS_ID'], aggfunc='size')
z_i = pd.DataFrame(z_i)
z_i = z_i[z_i[0]>1]
z_i.reset_index(inplace=True)
z_i['dups']=1
z_i.drop(0, axis=1,inplace=True)
z_i

    Term   INST_ID       CRS_ID  dups
0  2018F  10190259  SOCIA499001     1
1  2018F  10191219  HISTA294001     1
2  2019S  10200573  THEAM294002     1
3  2019S  10214524  THEAM294001     1
4  2019S  10262221  SOCIA499001     1

In [5]:
fy19 = fy19.merge(z_i, on=['Term', 'INST_ID', 'CRS_ID'], how='left')
fy19[fy19['dups']==1]

                  ID_CRSID   Term               Key    Key_Rev_2_7_20 Difference  Enrol_Rev_2_7_20  Enrol_Rev  Gross_Rev   Net_Rev   INST_ID         Comment Tenure SCAP Cnt AAUP Salary  Teach Salary Adm Lib Salary Equiv Salary 2_Dept_Salary  Total Salary EEO Rank Empl Status OCCPT                 Job Title              FAC_NAME                FDB_Dept FDB_2nd_Dept FDB_College RC_COLG RC_DEPT CRS_SUBJ       CRS_ID Crs_ID_Cnt                         CRS_TITLE LoyolaCore_1 LoyolaCore Online Honors  CourseCount  INST_LD Meet Days Meet Start, Time Meet Stop, Time  Enroll, Max  Potential SCCH  Tally,Demand  Tally,Drop COURS_LEV  CRS_LEV_NUM CROSS_LST CRS_TYPE  MIN_HRS  MAX_HRS VAR_CR_FLG  COURSE_CRHRS GRD_RULE SEC_STAT CRS_STATUS SEC_TYP SESSION  Enrolled  Diff_RedBar_Vs_Rev  AVG_CRS_CRHR_RT  Total SCCH  SCCH As % of Load  INST_CREDIT            FAC_NAME.1                   PRI_UNIT_DESC           PRI_DEPT_DESC  dups
883   10262221 SOCIA499001  2019S  2019SSOCIA499001  SOCIA4990012019S          0               1.0          1    5953.80   -945.60  10262221  Teaching 2 IND     NT        0         NaN           0.0          97958          NaN           NaN       97958.0    ASSOC           F   ADM  Executive Director, OIRE  Macgregor, Carol Ann               Sociology          NaN         CAS     CAS    SOCI     SOCI  SOCIA499001   SOCIA499         QUALITATIVE DATA ANALYSIS      A499001         No     No     No          0.0      1.0         0                0               0            1             3.0             1           0         U          499                IND      3.0      3.0          N           3.0        U        C     CLOSED                         1                   0              3.0         3.0                3.0          0.0  Macgregor, Carol Ann    College of Arts and Sciences               Sociology   1.0
884   10262221 SOCIA499001  2019S  2019SSOCIA499001  SOCIA4990012019S          0               1.0          1    5953.80   -945.60  10262221  Teaching 2 IND     NT        0         NaN           0.0          97958          NaN           NaN       97958.0    ASSOC           F   ADM  Executive Director, OIRE  Macgregor, Carol Ann               Sociology          NaN         CAS     CAS    SOCI     SOCI  SOCIA499001   SOCIA499         QUALITATIVE DATA ANALYSIS      A499001         No     No     No          0.0      1.0         0                0               0            1             3.0             1           0         U          499                IND      3.0      3.0          N           3.0        U        C     CLOSED                         1                   0              3.0         3.0                3.0          1.0  Macgregor, Carol Ann    College of Arts and Sciences               Sociology   1.0
1476  10191219 HISTA294001  2018F  2018FHISTA294001  HISTA2940012018F          0              26.0         26  103234.89  35516.01  10191219             NaN      T        1       81359       81359.0            NaN          NaN           NaN       81359.0     PROF           F   FAC                       NaN     Fernandez, Mark F                 History          NaN         CAS     CAS    HIST     HIST  HISTA294001   HISTA294                 HISTORIAN'S CRAFT      A294001         No     No     No          0.5      1.0        TR           1100AM          1215PM           28            84.0            29           2         U          294                LEC      3.0      3.0          N           3.0        U        O       OPEN                        27                   1              3.0        81.0               81.0          0.0     Fernandez, Mark F    College of Arts and Sciences                 History   1.0
1477  10191219 HISTA294001  2018F  2018FHISTA294001  HISTA2940012018F          0              26.0         26  103234.89  35516.01  10191219             NaN      T        1       81359       81359.0            NaN          NaN           NaN       81359.0     PROF           F   FAC                       NaN     Fernandez, Mark F                 History          NaN         CAS     CAS    HIST     HIST  HISTA294001   HISTA294                 HISTORIAN'S CRAFT      A294001         No     No     No          0.5      1.0        TR           1100AM          1215PM           28            84.0            29           2         U          294                LEC      3.0      3.0          N           3.0        U        O       OPEN                        27                   1              3.0        81.0               81.0          3.0     Fernandez, Mark F    College of Arts and Sciences                 History   1.0
2178  10190259 SOCIA499001  2018F  2018FSOCIA499001  SOCIA4990012018F          0               2.0          2    8301.00   2993.28  10190259      VSP Spring    NaN     0.67         NaN        5000.0            NaN          NaN           NaN        5000.0    PROFE           P   FAC                       NaN          Voigt, Lydia               Sociology          NaN         CAS     CAS    SOCI     SOCI  SOCIA499001   SOCIA499  TEACHING ASST. FOR DEV OF SOC TH      A499001         No     No     No          0.0      1.0         0                0               0            1             3.0             2           0         U          499                IND      3.0      3.0          N           3.0        U        C     CLOSED                         2                   0              3.0         6.0                6.0          0.0          Voigt, Lydia                Academic Affairs     VP Academic Affairs   1.0
2179  10190259 SOCIA499001  2018F  2018FSOCIA499001  SOCIA4990012018F          0               2.0          2    8301.00   2993.28  10190259      VSP Spring    NaN     0.67         NaN        5000.0            NaN          NaN           NaN        5000.0    PROFE           P   FAC                       NaN          Voigt, Lydia               Sociology          NaN         CAS     CAS    SOCI     SOCI  SOCIA499001   SOCIA499  TEACHING ASST. FOR DEV OF SOC TH      A499001         No     No     No          0.0      1.0         0                0               0            1             3.0             2           0         U          499                IND      3.0      3.0          N           3.0        U        C     CLOSED                         2                   0              3.0         6.0                6.0          1.0          Voigt, Lydia                Academic Affairs     VP Academic Affairs   1.0
2338  10200573 THEAM294002  2019S  2019STHEAM294002  THEAM2940022019S          0              11.0         11   12245.21   3789.42  10200573             NaN    NaN     0.33         NaN        7800.0            NaN          NaN           NaN        7800.0     INST           P   FAC                       NaN     Lemmler, Ashley A  Theater Arts and Dance          NaN          MA      MA     TAD     THEA  THEAM294002   THEAM294     PRIVATE VOICE/MUSICAL THEATRE      M294002         No     No     No          0.5      1.0       TBA                                            15            15.0            10           0         U          294                LEC      1.0      3.0          Y           1.0        U        O       OPEN                        10                  -1              1.0        10.0               10.0          0.0     Lemmler, Ashley A  College of Music and Fine Arts  Theatre Arts and Dance   1.0
2339  10200573 THEAM294002  2019S  2019STHEAM294002  THEAM2940022019S          0              11.0         11   12245.21   3789.42  10200573             NaN    NaN     0.33         NaN        7800.0            NaN          NaN           NaN        7800.0     INST           P   FAC                       NaN     Lemmler, Ashley A  Theater Arts and Dance          NaN          MA      MA     TAD     THEA  THEAM294002   THEAM294     PRIVATE VOICE/MUSICAL THEATRE      M294002         No     No     No          0.5      1.0       TBA                                            15            15.0            10           0         U          294                LEC      1.0      3.0          Y           1.0        U        O       OPEN                        10                  -1              1.0        10.0               10.0          1.0     Lemmler, Ashley A  College of Music and Fine Arts  Theatre Arts and Dance   1.0
2379  10214524 THEAM294001  2019S  2019STHEAM294001  THEAM2940012019S          0               9.0          9   10426.80   4124.76  10214524             NaN    NaN     0.33         NaN        8400.0            NaN          NaN           NaN        8400.0     INST           P   FAC                       NaN      Presti, Florence                   Music          NaN          MA      MA     TAD     THEA  THEAM294001   THEAM294     PRIVATE VOICE/MUSICAL THEATRE      M294001         No     No     No          0.5      1.0       TBA                                            15            15.0            10           1         U          294                LEC      1.0      3.0          Y           1.0        U        O       OPEN                         9                   0              1.0         9.0                9.0          0.0      Presti, Florence  College of Music and Fine Arts  Theatre Arts and Dance   1.0
2380  10214524 THEAM294001  2019S  2019STHEAM294001  THEAM2940012019S          0               9.0          9   10426.80   4124.76  10214524             NaN    NaN     0.33         NaN        8400.0            NaN          NaN           NaN        8400.0     INST           P   FAC                       NaN      Presti, Florence                   Music          NaN          MA      MA     TAD     THEA  THEAM294001   THEAM294     PRIVATE VOICE/MUSICAL THEATRE      M294001         No     No     No          0.5      1.0       TBA                                            15            15.0            10           1         U          294                LEC      1.0      3.0          Y           1.0        U        O       OPEN                         9                   0              1.0         9.0                9.0          1.0      Presti, Florence  College of Music and Fine Arts  Theatre Arts and Dance   1.0

In [6]:
fy19_dups = fy19[fy19['dups']==1]
fy19 = fy19[fy19['dups']!=1]

In [7]:
fy19_dups.drop_duplicates(subset=['Term', 'ID_CRSID'], keep='first', inplace=True)
fy19_dups

                  ID_CRSID   Term               Key    Key_Rev_2_7_20 Difference  Enrol_Rev_2_7_20  Enrol_Rev  Gross_Rev   Net_Rev   INST_ID         Comment Tenure SCAP Cnt AAUP Salary  Teach Salary Adm Lib Salary Equiv Salary 2_Dept_Salary  Total Salary EEO Rank Empl Status OCCPT                 Job Title              FAC_NAME                FDB_Dept FDB_2nd_Dept FDB_College RC_COLG RC_DEPT CRS_SUBJ       CRS_ID Crs_ID_Cnt                         CRS_TITLE LoyolaCore_1 LoyolaCore Online Honors  CourseCount  INST_LD Meet Days Meet Start, Time Meet Stop, Time  Enroll, Max  Potential SCCH  Tally,Demand  Tally,Drop COURS_LEV  CRS_LEV_NUM CROSS_LST CRS_TYPE  MIN_HRS  MAX_HRS VAR_CR_FLG  COURSE_CRHRS GRD_RULE SEC_STAT CRS_STATUS SEC_TYP SESSION  Enrolled  Diff_RedBar_Vs_Rev  AVG_CRS_CRHR_RT  Total SCCH  SCCH As % of Load  INST_CREDIT            FAC_NAME.1                   PRI_UNIT_DESC           PRI_DEPT_DESC  dups
883   10262221 SOCIA499001  2019S  2019SSOCIA499001  SOCIA4990012019S          0               1.0          1    5953.80   -945.60  10262221  Teaching 2 IND     NT        0         NaN           0.0          97958          NaN           NaN       97958.0    ASSOC           F   ADM  Executive Director, OIRE  Macgregor, Carol Ann               Sociology          NaN         CAS     CAS    SOCI     SOCI  SOCIA499001   SOCIA499         QUALITATIVE DATA ANALYSIS      A499001         No     No     No          0.0      1.0         0                0               0            1             3.0             1           0         U          499                IND      3.0      3.0          N           3.0        U        C     CLOSED                         1                   0              3.0         3.0                3.0          0.0  Macgregor, Carol Ann    College of Arts and Sciences               Sociology   1.0
1476  10191219 HISTA294001  2018F  2018FHISTA294001  HISTA2940012018F          0              26.0         26  103234.89  35516.01  10191219             NaN      T        1       81359       81359.0            NaN          NaN           NaN       81359.0     PROF           F   FAC                       NaN     Fernandez, Mark F                 History          NaN         CAS     CAS    HIST     HIST  HISTA294001   HISTA294                 HISTORIAN'S CRAFT      A294001         No     No     No          0.5      1.0        TR           1100AM          1215PM           28            84.0            29           2         U          294                LEC      3.0      3.0          N           3.0        U        O       OPEN                        27                   1              3.0        81.0               81.0          0.0     Fernandez, Mark F    College of Arts and Sciences                 History   1.0
2178  10190259 SOCIA499001  2018F  2018FSOCIA499001  SOCIA4990012018F          0               2.0          2    8301.00   2993.28  10190259      VSP Spring    NaN     0.67         NaN        5000.0            NaN          NaN           NaN        5000.0    PROFE           P   FAC                       NaN          Voigt, Lydia               Sociology          NaN         CAS     CAS    SOCI     SOCI  SOCIA499001   SOCIA499  TEACHING ASST. FOR DEV OF SOC TH      A499001         No     No     No          0.0      1.0         0                0               0            1             3.0             2           0         U          499                IND      3.0      3.0          N           3.0        U        C     CLOSED                         2                   0              3.0         6.0                6.0          0.0          Voigt, Lydia                Academic Affairs     VP Academic Affairs   1.0
2338  10200573 THEAM294002  2019S  2019STHEAM294002  THEAM2940022019S          0              11.0         11   12245.21   3789.42  10200573             NaN    NaN     0.33         NaN        7800.0            NaN          NaN           NaN        7800.0     INST           P   FAC                       NaN     Lemmler, Ashley A  Theater Arts and Dance          NaN          MA      MA     TAD     THEA  THEAM294002   THEAM294     PRIVATE VOICE/MUSICAL THEATRE      M294002         No     No     No          0.5      1.0       TBA                                            15            15.0            10           0         U          294                LEC      1.0      3.0          Y           1.0        U        O       OPEN                        10                  -1              1.0        10.0               10.0          0.0     Lemmler, Ashley A  College of Music and Fine Arts  Theatre Arts and Dance   1.0
2379  10214524 THEAM294001  2019S  2019STHEAM294001  THEAM2940012019S          0               9.0          9   10426.80   4124.76  10214524             NaN    NaN     0.33         NaN        8400.0            NaN          NaN           NaN        8400.0     INST           P   FAC                       NaN      Presti, Florence                   Music          NaN          MA      MA     TAD     THEA  THEAM294001   THEAM294     PRIVATE VOICE/MUSICAL THEATRE      M294001         No     No     No          0.5      1.0       TBA                                            15            15.0            10           1         U          294                LEC      1.0      3.0          Y           1.0        U        O       OPEN                         9                   0              1.0         9.0                9.0          0.0      Presti, Florence  College of Music and Fine Arts  Theatre Arts and Dance   1.0

In [8]:
fy19 = fy19.append(fy19_dups)
fy19.reset_index(drop = True)
fy19.head()

               ID_CRSID   Term               Key    Key_Rev_2_7_20 Difference  Enrol_Rev_2_7_20  Enrol_Rev  Gross_Rev   Net_Rev   INST_ID                                            Comment Tenure SCAP Cnt AAUP Salary  Teach Salary Adm Lib Salary Equiv Salary 2_Dept_Salary  Total Salary EEO Rank Empl Status OCCPT Job Title             FAC_NAME                       FDB_Dept FDB_2nd_Dept FDB_College RC_COLG RC_DEPT CRS_SUBJ       CRS_ID Crs_ID_Cnt                        CRS_TITLE LoyolaCore_1 LoyolaCore Online Honors  CourseCount  INST_LD Meet Days Meet Start, Time Meet Stop, Time  Enroll, Max  Potential SCCH  Tally,Demand  Tally,Drop COURS_LEV  CRS_LEV_NUM CROSS_LST CRS_TYPE  MIN_HRS  MAX_HRS VAR_CR_FLG  COURSE_CRHRS GRD_RULE SEC_STAT CRS_STATUS SEC_TYP      SESSION  Enrolled  Diff_RedBar_Vs_Rev  AVG_CRS_CRHR_RT  Total SCCH  SCCH As % of Load  INST_CREDIT           FAC_NAME.1                 PRI_UNIT_DESC                 PRI_DEPT_DESC  dups
0  10138351 LIM G890W01  2018F  2018FLIM G890W01  LIM G890W012018F         -2               8.0         10   13659.00    268.08  10138351                                                NaN    NaN     0.67         NaN        7000.0            NaN          NaN           NaN        7000.0     INST           P   FAC       NaN     Wilhelm, Deborah  Loyola Institute for Ministry          NaN         CNH     CNH     LIM      LIM  LIM G890W01   LIM G890  JESUS & THE CHRISTIAN TRADITION      G890W01         No    Yes     No          0.5      1.0       TBA                                            25            75.0            19           9         G          890                LEC      3.0      3.0          N           3.0        G        O       OPEN          LIM Session        10                   0              3.0        30.0               30.0          1.0     Wilhelm, Deborah   College of Nursing & Health  Institute for Ministry (LIM)   NaN
1  10222864 ACCTB305001  2019S  2019SACCTB305001  ACCTB3050012019S         -1              18.0         19   66419.85  20169.39  10222864                                                NaN    11A        1      125991      125991.0            NaN          NaN           NaN      125991.0     LECT           F   FLC       NaN         Main, Daphne                     Accounting          NaN          BU      BU    ACCT     ACCT  ACCTB305001   ACCTB305        INTERMEDIATE ACCOUNTING I      B305001         No     No     No          1.0      1.0       MWF           1130AM          1220PM           30            90.0            20           1         U          305                LEC      3.0      3.0          N           3.0        U        O       OPEN                             19                   0              3.0        57.0               57.0          3.0         Main, Daphne           College of Business              BA Instructional   NaN
2  10190951 PHILU294052  2018F  2018FPHILU294052  PHILU2940522018F         -1              27.0         28   99118.59  39463.23  10190951                                                NaN      E        1       42856       42856.0            NaN          NaN           NaN       42856.0    LECTV           F   FAC       NaN    Chastain, James A                     Philosophy          NaN         CAS     CAS    PHIL     PHIL  PHILU294052   PHILU294              THE MEANING OF LIFE      U294052        Yes     No     No          1.0      1.0        MW           0620PM          0735PM           30            90.0            49          21         U          294                LEC      3.0      3.0          N           3.0        U        O       OPEN       U                     28                   0              3.0        84.0               84.0          3.0    Chastain, James A  College of Arts and Sciences                    Philosophy   NaN
3  10214200 ACCTB307001  2019S  2019SACCTB307001  ACCTB3070012019S         -1              23.0         24   78445.41  32193.45  10214200  Reduced teaching load, 2 courses per semester ...      E        1      102844       51422.0            NaN          NaN           NaN       51422.0    LECTV           F   SPC       NaN  Meyer, Jean Annette                     Accounting          NaN          BU      BU    ACCT     ACCT  ACCTB307001   ACCTB307     GOVERNMENT & NON PROFIT ACCT      B307001         No     No     No          1.0      1.0        TR           0800AM          0915AM           30            90.0            29           5         U          307                LEC      3.0      3.0          N           3.0        U        O       OPEN                             24                   0              3.0        72.0               72.0          3.0  Meyer, Jean Annette           College of Business              BA Instructional   NaN
4  10229856 MGT B325W02  2019S  2019SMGT B325W02  MGT B325W022019S         -1              22.0         23   79185.54  32683.92  10229856                                                NaN      E        1       60600       60600.0            NaN          NaN           NaN       60600.0     LECT           F   FAC       NaN      Anderson, Jan L                     Management          NaN          BU      BU     MGT      MGT  MGT B325W02   MGT B325           PRODUCTION & OPER MGMT      B325W02         No    Yes     No          0.5      1.0       TBA                                            25            75.0            24           1         U          325                LEC      3.0      3.0          N           3.0        U        O       OPEN                             23                   0              3.0        69.0               69.0          3.0      Anderson, Jan L           College of Business              BA Instructional   NaN

In [9]:
fy19[(fy19['ID_CRSID']=='10262221 SOCIA499001') & (fy19['Term']=='2019S')] #good - append check

                 ID_CRSID   Term               Key    Key_Rev_2_7_20 Difference  Enrol_Rev_2_7_20  Enrol_Rev  Gross_Rev  Net_Rev   INST_ID         Comment Tenure SCAP Cnt AAUP Salary  Teach Salary Adm Lib Salary Equiv Salary 2_Dept_Salary  Total Salary EEO Rank Empl Status OCCPT                 Job Title              FAC_NAME   FDB_Dept FDB_2nd_Dept FDB_College RC_COLG RC_DEPT CRS_SUBJ       CRS_ID Crs_ID_Cnt                  CRS_TITLE LoyolaCore_1 LoyolaCore Online Honors  CourseCount  INST_LD Meet Days Meet Start, Time Meet Stop, Time  Enroll, Max  Potential SCCH  Tally,Demand  Tally,Drop COURS_LEV  CRS_LEV_NUM CROSS_LST CRS_TYPE  MIN_HRS  MAX_HRS VAR_CR_FLG  COURSE_CRHRS GRD_RULE SEC_STAT CRS_STATUS SEC_TYP SESSION  Enrolled  Diff_RedBar_Vs_Rev  AVG_CRS_CRHR_RT  Total SCCH  SCCH As % of Load  INST_CREDIT            FAC_NAME.1                 PRI_UNIT_DESC PRI_DEPT_DESC  dups
883  10262221 SOCIA499001  2019S  2019SSOCIA499001  SOCIA4990012019S          0               1.0          1     5953.8   -945.6  10262221  Teaching 2 IND     NT        0         NaN           0.0          97958          NaN           NaN       97958.0    ASSOC           F   ADM  Executive Director, OIRE  Macgregor, Carol Ann  Sociology          NaN         CAS     CAS    SOCI     SOCI  SOCIA499001   SOCIA499  QUALITATIVE DATA ANALYSIS      A499001         No     No     No          0.0      1.0         0                0               0            1             3.0             1           0         U          499                IND      3.0      3.0          N           3.0        U        C     CLOSED                         1                   0              3.0         3.0                3.0          0.0  Macgregor, Carol Ann  College of Arts and Sciences     Sociology   1.0

In [10]:
fy19['CRS_ID'].nunique()

2165

In [11]:
fy19['FDB_College'].value_counts(dropna=False)

CAS    1176
MA      823
LW      279
CNH     258
BU      218
MU        9
ID        3
UL        3
Name: FDB_College, dtype: int64

In [12]:
fy19['FDB_Dept'].value_counts(dropna=False)

Music                            454
College of Law                   279
MUIN                             139
English                          136
Biology                          135
School of Nursing                132
Management                       110
Criminology and Justice          101
Psychology                       101
History                           91
Philosophy                        86
Religious Studies                 85
School of Mass Communication      82
Loyola Institute for Ministry     77
Chemistry                         73
Languages and Cultures            66
Theater Arts and Dance            59
Sociology                         52
Mathematical Sciences             49
Design                            48
Physics                           44
Film                              40
Counseling                        40
Political Science                 39
Computer Sciences                 39
Studio Art                        36
Finance                           33
Accounting                        26
Marketing                         24
Economics                         24
Teacher Certification             19
Classical Studies                 14
Environment                       13
Music Prep                         7
Magis Enrichment                   7
University Library                 3
Food Studies                       3
Honors                             2
International Business             1
Name: FDB_Dept, dtype: int64

In [13]:
fac19 = fy19[['Term', 'INST_ID', 'CRS_ID','FDB_College', 'FDB_Dept', 'Gross_Rev','Net_Rev']]
fac19.head()

    Term   INST_ID       CRS_ID FDB_College                       FDB_Dept  Gross_Rev   Net_Rev
0  2018F  10138351  LIM G890W01         CNH  Loyola Institute for Ministry   13659.00    268.08
1  2019S  10222864  ACCTB305001          BU                     Accounting   66419.85  20169.39
2  2018F  10190951  PHILU294052         CAS                     Philosophy   99118.59  39463.23
3  2019S  10214200  ACCTB307001          BU                     Accounting   78445.41  32193.45
4  2019S  10229856  MGT B325W02          BU                     Management   79185.54  32683.92

In [14]:
fac19['INST_COUNT']=fac19.groupby(['Term', 'CRS_ID'])['INST_ID'].transform("count")
fac19.head()

    Term   INST_ID       CRS_ID FDB_College                       FDB_Dept  Gross_Rev   Net_Rev  INST_COUNT
0  2018F  10138351  LIM G890W01         CNH  Loyola Institute for Ministry   13659.00    268.08           1
1  2019S  10222864  ACCTB305001          BU                     Accounting   66419.85  20169.39           1
2  2018F  10190951  PHILU294052         CAS                     Philosophy   99118.59  39463.23           1
3  2019S  10214200  ACCTB307001          BU                     Accounting   78445.41  32193.45           1
4  2019S  10229856  MGT B325W02          BU                     Management   79185.54  32683.92           1

# FY 18

In [15]:
fy18 = pd.read_excel('../../../FY20 Data/Delaware/17F 18S Delaware Study.xlsx')
fy18.head()

  FDB College FDB Department   TERM  CUPA Code (CIP Code) Employment Status         Faculty Name  FAC_CWID    Salary Tenure Occupation  SCAP Count              ID_CRSID ENROLL,MAX TALLY,DEMAND TALLY,DROP CRS_TYPE    Course_ID                     Course Title Enrollment as of 3/19  Total SCCH as of 3/19  Total SCCH as % of Load as of 3/19  Diff in Enrollment  Sum of GROSS_CRS_REV  As % of Load  Sum of NET_CRS_REVENUE  Net Crs Rev % of Load  Avg Course Credit Hours Course Type Course Level Online  Total SCCH  Enrolled  % of Enrollment  Total SCCH as % of Load
0          BU     Accounting  2017F                 52.03                 F  Meyer, Jean Annette  10214200  102844.0      E        FAC         1.0  10214200 ACCTB493001         20            6          1      LEC  ACCTB493001  PRINCIPLES OF FRAUD EXAMINATION                     5                   15.0                                15.0                 0.0              15136.17      15136.17                 7819.23                7819.23                      3.0         LEC            U      N        15.0         5              1.0                     15.0
1          BU     Accounting  2017F                 52.03                 F  Meyer, Jean Annette  10214200  102844.0      E        FAC         1.0  10214200 ACCTB203002         25           21          5      LEC  ACCTB203002    PRINCIPLES OF MANAGERIAL ACCT                    16                   48.0                                48.0                 0.0              62453.94      62453.94                28937.64               28937.64                      3.0         LEC            U      N        48.0        16              1.0                     48.0
2          BU     Accounting  2017F                 52.03                 F  Meyer, Jean Annette  10214200  102844.0      E        FAC         1.0  10214200 ACCTB400001         20           18          2      LEC  ACCTB400001              ADVANCED ACCOUNTING                    16                   48.0                                48.0                 0.0              51855.48      51855.48                20052.72               20052.72                      3.0         LEC            U      N        48.0        16              1.0                     48.0
3          BU     Accounting  2017F                 52.03                 F  Meyer, Jean Annette  10214200  102844.0      E        FAC         1.0  10214200 ACCTB203001         25           34         12      LEC  ACCTB203001    PRINCIPLES OF MANAGERIAL ACCT                    22                   66.0                                66.0                 0.0              79184.94      79184.94                41433.75               41433.75                      3.0         LEC            U      N        66.0        22              1.0                     66.0
4          BU     Accounting  2018S                 52.03                 F  Meyer, Jean Annette  10214200  102844.0      E        FAC         1.0  10214200 ACCTB203002         25           21          5      LEC  ACCTB203002    PRINCIPLES OF MANAGERIAL ACCT                    14                   42.0                                42.0                 0.0              52532.94      52532.94                20978.70               20978.70                      3.0         LEC            U      N        42.0        14              1.0                     42.0

In [16]:
fy18.groupby(['TERM', 'ID_CRSID']).ngroups - fy18['TERM'].count()

-2

In [17]:
z_i = fy18.pivot_table(index=['TERM', 'ID_CRSID'], aggfunc='size')
z_i = pd.DataFrame(z_i)
z_i = z_i[z_i[0]>1]
z_i.reset_index(inplace=True)
z_i['dups']=1
z_i.drop(0, axis=1,inplace=True)
z_i

    TERM              ID_CRSID  dups
0  2018S  10079377 GERMA101001     1
1  2018S  10272103 ITALA101001     1

In [18]:
fy18 = fy18.merge(z_i, on=['TERM', 'ID_CRSID'], how='left')
fy18[fy18['dups']==1]

    FDB College          FDB Department   TERM  CUPA Code (CIP Code) Employment Status       Faculty Name  FAC_CWID  Salary Tenure Occupation  SCAP Count              ID_CRSID ENROLL,MAX TALLY,DEMAND TALLY,DROP CRS_TYPE    Course_ID           Course Title Enrollment as of 3/19  Total SCCH as of 3/19  Total SCCH as % of Load as of 3/19  Diff in Enrollment  Sum of GROSS_CRS_REV  As % of Load  Sum of NET_CRS_REVENUE  Net Crs Rev % of Load  Avg Course Credit Hours Course Type Course Level Online  Total SCCH  Enrolled  % of Enrollment  Total SCCH as % of Load  dups
931         CAS  Languages and Cultures  2018S                 16.01                 P  Dittrich, Dittmar  10079377  4000.0      P        FAC        0.33  10079377 GERMA101001         20           11          3      LEC  GERMA101001   FIRST YEAR GERMAN II                     8                   24.0                                24.0                 0.0              29660.82      29660.82                10584.81               10584.81                      3.0         LEC            U      N        24.0         8              1.0                     24.0   1.0
932          ID  Languages and Cultures  2018S                 16.01                 P  Dittrich, Dittmar  10079377  4000.0      P        FAC        0.33  10079377 GERMA101001         20           11          3      LEC  GERMA101001   FIRST YEAR GERMAN II                     8                   24.0                                24.0                -9.0              29660.82      29660.82                10584.81               10584.81                      3.0         LEC            U      N        33.0        11              1.0                     33.0   1.0
986         CAS  Languages and Cultures  2018S                 16.01                 P    Sutton, Clifton  10272103  3500.0      P        FAC        0.33  10272103 ITALA101001         20           12          3      LEC  ITALA101001  FIRST YEAR ITALIAN II                     9                   27.0                                27.0                 0.0              33706.08      33706.08                14743.02               14743.02                      3.0         LEC            U      N        27.0         9              1.0                     27.0   1.0
987          ID  Languages and Cultures  2018S                 16.01                 P    Sutton, Clifton  10272103  3500.0      P        FAC        0.33  10272103 ITALA101001         20           12          3      LEC  ITALA101001  FIRST YEAR ITALIAN II                     9                   27.0                                27.0                -3.0              33706.08      33706.08                14743.02               14743.02                      3.0         LEC            U      N        30.0        10              1.0                     30.0   1.0

In [19]:
fy18_dups = fy18[fy18['dups']==1]
fy18 = fy18[fy18['dups']!=1]

In [20]:
fy18_dups.drop_duplicates(subset=['TERM', 'ID_CRSID'], keep='first', inplace=True)
fy18_dups

    FDB College          FDB Department   TERM  CUPA Code (CIP Code) Employment Status       Faculty Name  FAC_CWID  Salary Tenure Occupation  SCAP Count              ID_CRSID ENROLL,MAX TALLY,DEMAND TALLY,DROP CRS_TYPE    Course_ID           Course Title Enrollment as of 3/19  Total SCCH as of 3/19  Total SCCH as % of Load as of 3/19  Diff in Enrollment  Sum of GROSS_CRS_REV  As % of Load  Sum of NET_CRS_REVENUE  Net Crs Rev % of Load  Avg Course Credit Hours Course Type Course Level Online  Total SCCH  Enrolled  % of Enrollment  Total SCCH as % of Load  dups
931         CAS  Languages and Cultures  2018S                 16.01                 P  Dittrich, Dittmar  10079377  4000.0      P        FAC        0.33  10079377 GERMA101001         20           11          3      LEC  GERMA101001   FIRST YEAR GERMAN II                     8                   24.0                                24.0                 0.0              29660.82      29660.82                10584.81               10584.81                      3.0         LEC            U      N        24.0         8              1.0                     24.0   1.0
986         CAS  Languages and Cultures  2018S                 16.01                 P    Sutton, Clifton  10272103  3500.0      P        FAC        0.33  10272103 ITALA101001         20           12          3      LEC  ITALA101001  FIRST YEAR ITALIAN II                     9                   27.0                                27.0                 0.0              33706.08      33706.08                14743.02               14743.02                      3.0         LEC            U      N        27.0         9              1.0                     27.0   1.0

In [21]:
fy18 = fy18.append(fy18_dups)
fy18.reset_index(drop = True)
fy18.head()

  FDB College FDB Department   TERM  CUPA Code (CIP Code) Employment Status         Faculty Name  FAC_CWID    Salary Tenure Occupation  SCAP Count              ID_CRSID ENROLL,MAX TALLY,DEMAND TALLY,DROP CRS_TYPE    Course_ID                     Course Title Enrollment as of 3/19  Total SCCH as of 3/19  Total SCCH as % of Load as of 3/19  Diff in Enrollment  Sum of GROSS_CRS_REV  As % of Load  Sum of NET_CRS_REVENUE  Net Crs Rev % of Load  Avg Course Credit Hours Course Type Course Level Online  Total SCCH  Enrolled  % of Enrollment  Total SCCH as % of Load  dups
0          BU     Accounting  2017F                 52.03                 F  Meyer, Jean Annette  10214200  102844.0      E        FAC         1.0  10214200 ACCTB493001         20            6          1      LEC  ACCTB493001  PRINCIPLES OF FRAUD EXAMINATION                     5                   15.0                                15.0                 0.0              15136.17      15136.17                 7819.23                7819.23                      3.0         LEC            U      N        15.0         5              1.0                     15.0   NaN
1          BU     Accounting  2017F                 52.03                 F  Meyer, Jean Annette  10214200  102844.0      E        FAC         1.0  10214200 ACCTB203002         25           21          5      LEC  ACCTB203002    PRINCIPLES OF MANAGERIAL ACCT                    16                   48.0                                48.0                 0.0              62453.94      62453.94                28937.64               28937.64                      3.0         LEC            U      N        48.0        16              1.0                     48.0   NaN
2          BU     Accounting  2017F                 52.03                 F  Meyer, Jean Annette  10214200  102844.0      E        FAC         1.0  10214200 ACCTB400001         20           18          2      LEC  ACCTB400001              ADVANCED ACCOUNTING                    16                   48.0                                48.0                 0.0              51855.48      51855.48                20052.72               20052.72                      3.0         LEC            U      N        48.0        16              1.0                     48.0   NaN
3          BU     Accounting  2017F                 52.03                 F  Meyer, Jean Annette  10214200  102844.0      E        FAC         1.0  10214200 ACCTB203001         25           34         12      LEC  ACCTB203001    PRINCIPLES OF MANAGERIAL ACCT                    22                   66.0                                66.0                 0.0              79184.94      79184.94                41433.75               41433.75                      3.0         LEC            U      N        66.0        22              1.0                     66.0   NaN
4          BU     Accounting  2018S                 52.03                 F  Meyer, Jean Annette  10214200  102844.0      E        FAC         1.0  10214200 ACCTB203002         25           21          5      LEC  ACCTB203002    PRINCIPLES OF MANAGERIAL ACCT                    14                   42.0                                42.0                 0.0              52532.94      52532.94                20978.70               20978.70                      3.0         LEC            U      N        42.0        14              1.0                     42.0   NaN

In [22]:
fy18[(fy18['ID_CRSID']=='10079377 GERMA101001') & (fy18['TERM']=='2018S')] #good - append check

    FDB College          FDB Department   TERM  CUPA Code (CIP Code) Employment Status       Faculty Name  FAC_CWID  Salary Tenure Occupation  SCAP Count              ID_CRSID ENROLL,MAX TALLY,DEMAND TALLY,DROP CRS_TYPE    Course_ID          Course Title Enrollment as of 3/19  Total SCCH as of 3/19  Total SCCH as % of Load as of 3/19  Diff in Enrollment  Sum of GROSS_CRS_REV  As % of Load  Sum of NET_CRS_REVENUE  Net Crs Rev % of Load  Avg Course Credit Hours Course Type Course Level Online  Total SCCH  Enrolled  % of Enrollment  Total SCCH as % of Load  dups
931         CAS  Languages and Cultures  2018S                 16.01                 P  Dittrich, Dittmar  10079377  4000.0      P        FAC        0.33  10079377 GERMA101001         20           11          3      LEC  GERMA101001  FIRST YEAR GERMAN II                     8                   24.0                                24.0                 0.0              29660.82      29660.82                10584.81               10584.81                      3.0         LEC            U      N        24.0         8              1.0                     24.0   1.0

In [23]:
fy18['Course_ID'].nunique()

2087

In [24]:
fy18['FDB Department'].value_counts(dropna=False)

Music                            491
College of Law                   239
MUIN                             167
English                          131
School of Nursing                112
Biology                          108
Management                       100
SoMC                              95
Psychology                        94
Loyola Institute for Ministry     81
Languages and Cultures            80
Chemistry                         78
History                           78
Philosophy                        73
Criminal Justice                  73
Theater Arts and Dance            65
Mathematical Sciences             55
Religious Studies                 54
Studio Art                        53
Physics                           52
Sociology                         52
Law Clinic                        49
Counseling                        38
Design                            34
Political Science                 32
Economics                         31
Finance                           29
Computer Sciences                 26
Accounting                        26
Marketing                         25
Classical Studies                 24
Teach                             14
Theatre Arts                       1
Visual Arts                        1
Food Studies                       1
Name: FDB Department, dtype: int64

In [25]:
fy18['FDB College'].value_counts(dropna=False)

CAS    1090
MA      807
LW      286
BU      211
CNH      98
GPS      97
ID       35
CEX      19
CEO      16
CE        3
Name: FDB College, dtype: int64

In [26]:
crosswalk = pd.read_excel('../1_data/Department College Crosswalk.xlsx')
crosswalk.tail()

           Department College
30  Classical Studies     CAS
31              Teach     CAS
32       Food Studies  Others
33        Visual Arts     CMM
34       Theatre Arts     CMM

In [27]:
fy18 = fy18.merge(crosswalk, left_on='FDB Department', right_on='Department', how='left')
fy18['College'].value_counts(dropna=False)

CAS       1024
CMM        907
LAW        288
CNH        231
BU         211
Others       1
Name: College, dtype: int64

In [28]:
fy18.head()

  FDB College FDB Department   TERM  CUPA Code (CIP Code) Employment Status         Faculty Name  FAC_CWID    Salary Tenure Occupation  SCAP Count              ID_CRSID ENROLL,MAX TALLY,DEMAND TALLY,DROP CRS_TYPE    Course_ID                     Course Title Enrollment as of 3/19  Total SCCH as of 3/19  Total SCCH as % of Load as of 3/19  Diff in Enrollment  Sum of GROSS_CRS_REV  As % of Load  Sum of NET_CRS_REVENUE  Net Crs Rev % of Load  Avg Course Credit Hours Course Type Course Level Online  Total SCCH  Enrolled  % of Enrollment  Total SCCH as % of Load  dups  Department College
0          BU     Accounting  2017F                 52.03                 F  Meyer, Jean Annette  10214200  102844.0      E        FAC         1.0  10214200 ACCTB493001         20            6          1      LEC  ACCTB493001  PRINCIPLES OF FRAUD EXAMINATION                     5                   15.0                                15.0                 0.0              15136.17      15136.17                 7819.23                7819.23                      3.0         LEC            U      N        15.0         5              1.0                     15.0   NaN  Accounting      BU
1          BU     Accounting  2017F                 52.03                 F  Meyer, Jean Annette  10214200  102844.0      E        FAC         1.0  10214200 ACCTB203002         25           21          5      LEC  ACCTB203002    PRINCIPLES OF MANAGERIAL ACCT                    16                   48.0                                48.0                 0.0              62453.94      62453.94                28937.64               28937.64                      3.0         LEC            U      N        48.0        16              1.0                     48.0   NaN  Accounting      BU
2          BU     Accounting  2017F                 52.03                 F  Meyer, Jean Annette  10214200  102844.0      E        FAC         1.0  10214200 ACCTB400001         20           18          2      LEC  ACCTB400001              ADVANCED ACCOUNTING                    16                   48.0                                48.0                 0.0              51855.48      51855.48                20052.72               20052.72                      3.0         LEC            U      N        48.0        16              1.0                     48.0   NaN  Accounting      BU
3          BU     Accounting  2017F                 52.03                 F  Meyer, Jean Annette  10214200  102844.0      E        FAC         1.0  10214200 ACCTB203001         25           34         12      LEC  ACCTB203001    PRINCIPLES OF MANAGERIAL ACCT                    22                   66.0                                66.0                 0.0              79184.94      79184.94                41433.75               41433.75                      3.0         LEC            U      N        66.0        22              1.0                     66.0   NaN  Accounting      BU
4          BU     Accounting  2018S                 52.03                 F  Meyer, Jean Annette  10214200  102844.0      E        FAC         1.0  10214200 ACCTB203002         25           21          5      LEC  ACCTB203002    PRINCIPLES OF MANAGERIAL ACCT                    14                   42.0                                42.0                 0.0              52532.94      52532.94                20978.70               20978.70                      3.0         LEC            U      N        42.0        14              1.0                     42.0   NaN  Accounting      BU

In [29]:
fy18.rename(columns={'College':'FDB_College', 'FDB Department': 'FDB_Dept' , 'TERM':'Term', 'FAC_CWID':'INST_ID', 
                    'Course_ID': 'CRS_ID','Sum of GROSS_CRS_REV':'Gross_Rev','Sum of NET_CRS_REVENUE': 'Net_Rev'}, 
            inplace=True)

In [30]:
fy18.head()

  FDB College    FDB_Dept   Term  CUPA Code (CIP Code) Employment Status         Faculty Name   INST_ID    Salary Tenure Occupation  SCAP Count              ID_CRSID ENROLL,MAX TALLY,DEMAND TALLY,DROP CRS_TYPE       CRS_ID                     Course Title Enrollment as of 3/19  Total SCCH as of 3/19  Total SCCH as % of Load as of 3/19  Diff in Enrollment  Gross_Rev  As % of Load   Net_Rev  Net Crs Rev % of Load  Avg Course Credit Hours Course Type Course Level Online  Total SCCH  Enrolled  % of Enrollment  Total SCCH as % of Load  dups  Department FDB_College
0          BU  Accounting  2017F                 52.03                 F  Meyer, Jean Annette  10214200  102844.0      E        FAC         1.0  10214200 ACCTB493001         20            6          1      LEC  ACCTB493001  PRINCIPLES OF FRAUD EXAMINATION                     5                   15.0                                15.0                 0.0   15136.17      15136.17   7819.23                7819.23                      3.0         LEC            U      N        15.0         5              1.0                     15.0   NaN  Accounting          BU
1          BU  Accounting  2017F                 52.03                 F  Meyer, Jean Annette  10214200  102844.0      E        FAC         1.0  10214200 ACCTB203002         25           21          5      LEC  ACCTB203002    PRINCIPLES OF MANAGERIAL ACCT                    16                   48.0                                48.0                 0.0   62453.94      62453.94  28937.64               28937.64                      3.0         LEC            U      N        48.0        16              1.0                     48.0   NaN  Accounting          BU
2          BU  Accounting  2017F                 52.03                 F  Meyer, Jean Annette  10214200  102844.0      E        FAC         1.0  10214200 ACCTB400001         20           18          2      LEC  ACCTB400001              ADVANCED ACCOUNTING                    16                   48.0                                48.0                 0.0   51855.48      51855.48  20052.72               20052.72                      3.0         LEC            U      N        48.0        16              1.0                     48.0   NaN  Accounting          BU
3          BU  Accounting  2017F                 52.03                 F  Meyer, Jean Annette  10214200  102844.0      E        FAC         1.0  10214200 ACCTB203001         25           34         12      LEC  ACCTB203001    PRINCIPLES OF MANAGERIAL ACCT                    22                   66.0                                66.0                 0.0   79184.94      79184.94  41433.75               41433.75                      3.0         LEC            U      N        66.0        22              1.0                     66.0   NaN  Accounting          BU
4          BU  Accounting  2018S                 52.03                 F  Meyer, Jean Annette  10214200  102844.0      E        FAC         1.0  10214200 ACCTB203002         25           21          5      LEC  ACCTB203002    PRINCIPLES OF MANAGERIAL ACCT                    14                   42.0                                42.0                 0.0   52532.94      52532.94  20978.70               20978.70                      3.0         LEC            U      N        42.0        14              1.0                     42.0   NaN  Accounting          BU

In [31]:
fac18 = fy18[['Term', 'INST_ID', 'CRS_ID','FDB_College', 'FDB_Dept', 'Gross_Rev', 'Net_Rev']]
fac18.head()

    Term   INST_ID       CRS_ID FDB_College    FDB_Dept  Gross_Rev   Net_Rev
0  2017F  10214200  ACCTB493001          BU  Accounting   15136.17   7819.23
1  2017F  10214200  ACCTB203002          BU  Accounting   62453.94  28937.64
2  2017F  10214200  ACCTB400001          BU  Accounting   51855.48  20052.72
3  2017F  10214200  ACCTB203001          BU  Accounting   79184.94  41433.75
4  2018S  10214200  ACCTB203002          BU  Accounting   52532.94  20978.70

In [32]:
fac18['INST_COUNT']=fac18.groupby(['Term', 'CRS_ID'])['INST_ID'].transform("count")
fac18.head()

    Term   INST_ID       CRS_ID FDB_College    FDB_Dept  Gross_Rev   Net_Rev  INST_COUNT
0  2017F  10214200  ACCTB493001          BU  Accounting   15136.17   7819.23           1
1  2017F  10214200  ACCTB203002          BU  Accounting   62453.94  28937.64           1
2  2017F  10214200  ACCTB400001          BU  Accounting   51855.48  20052.72           1
3  2017F  10214200  ACCTB203001          BU  Accounting   79184.94  41433.75           1
4  2018S  10214200  ACCTB203002          BU  Accounting   52532.94  20978.70           1

In [33]:
fac18.groupby(['Term', 'INST_ID', 'CRS_ID']).ngroups - fac18['Term'].count()

0

In [34]:
fac19.groupby(['Term', 'INST_ID', 'CRS_ID']).ngroups - fac19['Term'].count()

0

In [35]:
fac = fac18.append(fac19, ignore_index=True)
fac['Term'].value_counts(dropna=False)

2019S    1404
2018F    1365
2018S    1360
2017F    1302
Name: Term, dtype: int64

In [36]:
fac.head()

    Term   INST_ID       CRS_ID FDB_College    FDB_Dept  Gross_Rev   Net_Rev  INST_COUNT
0  2017F  10214200  ACCTB493001          BU  Accounting   15136.17   7819.23           1
1  2017F  10214200  ACCTB203002          BU  Accounting   62453.94  28937.64           1
2  2017F  10214200  ACCTB400001          BU  Accounting   51855.48  20052.72           1
3  2017F  10214200  ACCTB203001          BU  Accounting   79184.94  41433.75           1
4  2018S  10214200  ACCTB203002          BU  Accounting   52532.94  20978.70           1

In [37]:
fac.drop('Gross_Rev', axis=1, inplace=True)
fac.head()

    Term   INST_ID       CRS_ID FDB_College    FDB_Dept   Net_Rev  INST_COUNT
0  2017F  10214200  ACCTB493001          BU  Accounting   7819.23           1
1  2017F  10214200  ACCTB203002          BU  Accounting  28937.64           1
2  2017F  10214200  ACCTB400001          BU  Accounting  20052.72           1
3  2017F  10214200  ACCTB203001          BU  Accounting  41433.75           1
4  2018S  10214200  ACCTB203002          BU  Accounting  20978.70           1

In [38]:
fac20 = pd.read_excel('../1_data/fac20.xlsx')
fac20.head()

    Term   INST_ID       CRS_ID FDB_College    FDB_Dept   Net_Rev  INST_COUNT
0  2019F  10222864  ACCTB202001          BU  Accounting  46853.22           1
1  2019F  10222864  ACCTB202002          BU  Accounting  39214.77           1
2  2019F  10214200  ACCTB202003          BU  Accounting  14405.10           1
3  2019F  10214200  ACCTB202WZ1          BU  Accounting  13639.02           1
4  2019F  10214200  ACCTB202YZ1          BU  Accounting   7025.04           1

In [39]:
fac20.groupby(['Term', 'INST_ID', 'CRS_ID']).ngroups - fac20['Term'].count()

0

In [40]:
fac = fac.append(fac20, ignore_index=True)
fac['Term'].value_counts(dropna=False)

2019F    1431
2020S    1409
2019S    1404
2018F    1365
2018S    1360
2017F    1302
Name: Term, dtype: int64

In [41]:
fac.rename(columns={'Term':'TERM'}, inplace=True)
fac.head()

    TERM   INST_ID       CRS_ID FDB_College    FDB_Dept   Net_Rev  INST_COUNT
0  2017F  10214200  ACCTB493001          BU  Accounting   7819.23           1
1  2017F  10214200  ACCTB203002          BU  Accounting  28937.64           1
2  2017F  10214200  ACCTB400001          BU  Accounting  20052.72           1
3  2017F  10214200  ACCTB203001          BU  Accounting  41433.75           1
4  2018S  10214200  ACCTB203002          BU  Accounting  20978.70           1

In [42]:
fac.to_excel('../3_res/Faculty for merge.xlsx', index=False)

In [43]:
fac.groupby(['TERM', 'INST_ID', 'CRS_ID']).ngroups - fac['TERM'].count()

0

# FY21 Data

In [50]:
fac21 = pd.read_excel('../1_data/Faculty Course.xlsx', header=3)
fac21.head()

  Course,College Course,Dept of,Record Instructor Name 12  Instructor ID  Crs Sect ID FDB_College    FDB_Dept Activity 1, Type Online  Sum of Tally,Enrolled  Sum of % OnCampus  Sum of %Online/Hyfex  Sum of %Online?Sync  Sum of Blank  Check Unnamed: 15
0             BU                  ACCT            Booth G     10147448.0  ACCTB300001          BU  Accounting              LEC     No                     15           0.800000              0.200000             0.000000      0.000000    1.0         NaN
1            NaN                   NaN             Main D     10222864.0  ACCTB202001          BU  Accounting              LEC     No                     40           0.750000              0.175000             0.000000      0.075000    1.0         NaN
2            NaN                   NaN                NaN            NaN  ACCTB305001         NaN         NaN              LEC     No                     21           0.809524              0.190476             0.000000      0.000000    1.0         NaN
3            NaN                   NaN                NaN            NaN  ACCTB306001         NaN         NaN              LEC     No                     10           0.636364              0.181818             0.090909      0.090909    1.0         NaN
4            NaN                   NaN                NaN            NaN  ACCTB310001         NaN         NaN              LEC     No                     24           0.708333              0.208333             0.083333      0.000000    1.0         NaN

In [51]:
fac21.fillna(method='ffill', inplace=True)
fac21 = fac21[['Course,College', 'Course,Dept of,Record', 'Instructor ID','Crs Sect ID']]
fac21.rename(columns = {'Course,College':'FDB_College', 'Course,Dept of,Record':'FDB_Dept', 'Instructor ID':'INST_ID', 'Crs Sect ID':'CRS_ID'}, 
            inplace=True)
fac21.head()

  FDB_College FDB_Dept     INST_ID       CRS_ID
0          BU     ACCT  10147448.0  ACCTB300001
1          BU     ACCT  10222864.0  ACCTB202001
2          BU     ACCT  10222864.0  ACCTB305001
3          BU     ACCT  10222864.0  ACCTB306001
4          BU     ACCT  10222864.0  ACCTB310001

In [52]:
fac21['CRS_ID'].count()

1101

In [53]:
fac21['CRS_ID'].nunique()

1081

In [54]:
fac21.groupby(['INST_ID', 'CRS_ID']).ngroups - fac21['FDB_College'].count()

-1

In [55]:
fac20['INST_ID'].nunique()

553

In [56]:
fac21['INST_ID'].nunique()

442

Too big a difference. Will only use students data to predict